{% extends 'base.html.twig' %}

{% block title %}New Foobar{% endblock %}

{% block body %}
    <h1>Create new Foobar</h1>

    {{ include('foobar/_form.html.twig') }}

    <a href="{{ path('foobar_index') }}">back to list</a>
{% endblock %}
